.right-dash{
    margin-top: 1.4rem;
    .top{
        @include flex(flex,null,end,null);
        gap: 2rem;
        button{
            display: none;
        }  
        .theme-toggler{
            @include flex(flex,center,space-between,null);
            @include w-h(3.2rem,1.2rem);
            cursor: pointer;
            border-radius: .3rem;
            background: $white;
            i{
                @include font(.8rem,null,$black);
                @include flex(flex,center,center,null);
                @include w-h(50%,100%);
                &.active{
                    background: $blue-one;
                    color: $white;
                    border-radius: .3rem;
                }
            }
        }
        .profile{
            display: flex;
            gap: 1rem;
            text-align: right;
            .infos{
                color: $black;
                @include font(.8rem,500,$black);
                span{
                    @include font(.8rem,900,$blue-one); 
                }
                small{
                    @include font(.7rem,400,$black);
                }
            }
            img{
                width: 2rem;
                border-radius: 50%;
            }
        }
    }
}