@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.users {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #149BB4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users .box {
  position: relative;
  width: 100%;
  height: 640px;
  max-width: 1020px;
  background-color: white;
  border-radius: 3rem;
}
.users .box .interior-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
}
.users .box .interior-box .forms {
  position: absolute;
  top: 0;
  left: 55%;
  width: 45%;
  height: 100%;
}
.users .box .interior-box .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background-color: #B3E0E1;
  border-radius: 2rem;
}
.users .box .interior-box .carousel .content-carousel {
  margin-top: 5rem;
}
.users .box .interior-box .carousel .content-carousel .image-carousel .imageC {
  width: 100%;
}
.users .box .interior-box .carousel .content-carousel .text-carousel {
  margin-bottom: 10.3rem;
  text-align: center;
}
.users .box .interior-box .carousel .content-carousel .text-carousel h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #16467D;
  margin-bottom: 1rem;
}

aside {
  height: 100vh;
}
aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .top .logo {
  display: flex;
  align-items: center;
}
aside .top .logo img {
  width: 25px;
}
aside .top .logo h3 {
  font-size: 1.8rem;
  color: #16467D;
  padding-top: 0.08rem;
}
aside .top .logo h3 span {
  color: #E38D25;
}
aside .top .close {
  display: none;
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  height: 85vh;
}
aside .sidebar a {
  display: flex;
  align-items: center;
  height: 3rem;
  position: relative;
  color: #403f3f;
  text-decoration: none;
  margin-left: 2rem;
  gap: 1rem;
  transition: 0.4s;
}
aside .sidebar a h3 {
  font-size: 0.8rem;
  font-weight: 500;
}
aside .sidebar a i {
  font-size: 1rem;
  transition: 0.4s;
}
aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
}
aside .sidebar a.active {
  background: #dbf3f3;
  color: #16467D;
  margin-left: 0;
}
aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: #16467D;
}
aside .sidebar a.active i {
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
  color: #16467D;
}
aside .sidebar a:hover i {
  margin-left: 0.8rem;
}

.dashbd {
  margin-top: 1.4rem;
}
.dashbd .top-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashbd .top-main h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #403f3f;
}
.dashbd .top-main .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  width: 26rem;
  padding: 5px;
  margin-left: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
}
.dashbd .top-main .search input {
  border: none;
  outline: none;
  background-color: transparent;
  text-indent: 1rem;
  width: 85%;
}
.dashbd .top-main .search button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: #16467D;
  padding: 0.2rem;
  margin-right: 0.3rem;
}
.dashbd .statistiques {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.dashbd .statistiques > div {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-bottom: 5px solid #E38D25;
  margin-top: 1rem;
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.12);
  transition: 0.4s;
}
.dashbd .statistiques > div:hover {
  box-shadow: none;
}
.dashbd .statistiques > div i {
  background: #E38D25;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
}
.dashbd .statistiques > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashbd .statistiques > div .middle h3 {
  font-size: 1rem;
  font-weight: 7 0;
  color: #403f3f;
}
.dashbd .statistiques > div .middle h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #E38D25;
}

.right-dash {
  margin-top: 1.4rem;
}
.right-dash .top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
.right-dash .top button {
  display: none;
}
.right-dash .top .theme-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.2rem;
  height: 1.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background: white;
  margin-right: 2rem;
}
.right-dash .top .theme-toggler i {
  font-size: 0.8rem;
  color: #403f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.right-dash .top .theme-toggler i.active {
  background: #16467D;
  color: white;
  border-radius: 0.3rem;
}
.right-dash .top .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: right;
}
.right-dash .top .profile .infos {
  font-size: 0.8rem;
  font-weight: 500;
  color: #403f3f;
}
.right-dash .top .profile .infos span {
  font-size: 0.8rem;
  font-weight: 900;
  color: #16467D;
}
.right-dash .top .profile .infos small {
  font-size: 0.7rem;
  font-weight: 400;
  color: #403f3f;
}
.right-dash .top .profile img {
  width: 2.5rem;
  border-radius: 50%;
}
.right-dash .recent-posts {
  margin-top: 1.4rem;
}
.right-dash .recent-posts h2 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #403f3f;
}
.right-dash .recent-posts .posts {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-bottom: 5px solid #B3E0E1;
  margin-top: 1rem;
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.12);
  transition: 0.4s;
}
.right-dash .recent-posts .posts:hover {
  box-shadow: none;
}
.right-dash .recent-posts .posts .post {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.right-dash .recent-posts .posts .post:last-child {
  margin-bottom: 0;
}
.right-dash .recent-posts .posts .post img {
  width: 2rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.right-dash .recent-posts .posts .post .post-infos {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.right-dash .recent-posts .posts .post .post-infos p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #403f3f;
}
.right-dash .recent-posts .posts .post .post-infos p .username-post {
  font-size: 0.8rem;
  font-weight: 900;
  color: #16467D;
}
.right-dash .recent-posts .posts .post .post-infos p .title-post {
  font-size: 0.8rem;
  font-weight: 900;
  color: #403f3f;
}
.right-dash .recent-posts .posts .post .post-infos small {
  font-size: 0.7rem;
  font-weight: 400;
  color: #403f3f;
}
.right-dash .add-categorie {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  border-radius: 0.8rem;
  padding: 2rem;
  background: transparent;
  border: 2px dashed #16467D;
  transition: 0.3s;
  cursor: pointer;
}
.right-dash .add-categorie:hover {
  background: #16467D;
  border: none;
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.12);
}
.right-dash .add-categorie:hover h3, .right-dash .add-categorie:hover i {
  color: white;
}
.right-dash .add-categorie div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.right-dash .add-categorie div h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #16467D;
}
.right-dash .add-categorie div i {
  font-size: 1.2rem;
  color: #16467D;
}

.continue-btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: white;
  background-color: #16467D;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 0.4rem;
}
.continue-btn:hover {
  background-color: #E38D25;
}

.signup {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.signup .logo {
  display: flex;
  align-items: center;
}
.signup .logo img {
  width: 30px;
}
.signup .logo h3 {
  font-size: 2rem;
  color: #16467D;
  padding-top: 0.2rem;
}
.signup .logo h3 span {
  color: #E38D25;
}
.signup .head h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #403f3f;
  margin-bottom: 0.5rem;
}
.signup .head h6 {
  font-size: 0.65rem;
  font-weight: 400;
  color: #bbb;
  display: inline;
}
.signup .head .toggle {
  font-size: 0.65rem;
  font-weight: 700;
  color: #403f3f;
  text-decoration: none;
  transition: 0.4s;
}
.signup .head .toggle:hover {
  color: #149BB4;
}
.signup .errorSignup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9dcda;
  padding: 0.8rem 0;
  color: #B94A48;
}
.signup .form-content .image-upl {
  margin-bottom: 2rem;
  background: none;
}
.signup .form-content .image-upl label {
  font-size: 0.9rem;
  color: #bbb;
}
.signup .form-content .inputs {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}
.signup .form-content .inputs .input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #bbb;
  font-size: 0.9rem;
  color: #403f3f;
  transition: 0.4s;
}
.signup .form-content .inputs .input-field.active-input {
  border-bottom: 1px solid #149BB4;
}
.signup .form-content .inputs .input-field.active-input + label {
  font-size: 0.65rem;
  top: -2.5px;
  color: #149BB4;
}
.signup .form-content .inputs .input-field.active-err {
  border-bottom: 2px solid #B94A48;
}
.signup .form-content .inputs .input-field.active-err + label {
  font-size: 0.65rem;
  top: -2.5px;
  color: #B94A48;
}
.signup .form-content .inputs .input-field.active-valid {
  border-bottom: 2px solid #24b324;
}
.signup .form-content .inputs .input-field.active-valid + label {
  font-size: 0.65rem;
  top: -2.5px;
  color: #24b324;
}
.signup .form-content .inputs label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}
.signup .form-content .inputs span {
  position: absolute;
  top: 110%;
  left: 0;
  font-size: 0.6rem;
  font-weight: 500;
  color: #B94A48;
  opacity: 0;
}
.signup .form-content .text {
  font-size: 0.65rem;
  font-weight: 400;
  color: #bbb;
}
.signup .form-content .text a {
  font-size: 0.65rem;
  font-weight: 700;
  color: #403f3f;
  text-decoration: none;
  transition: 0.4s;
}
.signup .form-content .text a:hover {
  color: #149BB4;
}

.login {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.login .logo {
  display: flex;
  align-items: center;
}
.login .logo img {
  width: 30px;
}
.login .logo h3 {
  font-size: 2rem;
  color: #16467D;
  padding-top: 0.2rem;
}
.login .logo h3 span {
  color: #E38D25;
}
.login .head h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #403f3f;
  margin-bottom: 0.5rem;
}
.login .head h6 {
  font-size: 0.65rem;
  font-weight: 400;
  color: #bbb;
  display: inline;
}
.login .head .toggle {
  font-size: 0.65rem;
  font-weight: 700;
  color: #403f3f;
  text-decoration: none;
  transition: 0.4s;
}
.login .head .toggle:hover {
  color: #149BB4;
}
.login .errorSignup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9dcda;
  padding: 0.8rem 0;
  color: #B94A48;
}
.login .form-content .inputs {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}
.login .form-content .inputs .input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #bbb;
  font-size: 0.9rem;
  color: #403f3f;
  transition: 0.4s;
}
.login .form-content .inputs .input-field.active-input {
  border-bottom: 1px solid #149BB4;
}
.login .form-content .inputs .input-field.active-input + label {
  font-size: 0.65rem;
  top: -2.5px;
  color: #149BB4;
}
.login .form-content .inputs .input-field.active-err {
  border-bottom: 2px solid #B94A48;
}
.login .form-content .inputs .input-field.active-err + label {
  font-size: 0.65rem;
  top: -2.5px;
  color: #B94A48;
}
.login .form-content .inputs .input-field.active-valid {
  border-bottom: 2px solid #24b324;
}
.login .form-content .inputs .input-field.active-valid + label {
  font-size: 0.65rem;
  top: -2.5px;
  color: #24b324;
}
.login .form-content .inputs label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}
.login .form-content .inputs span {
  position: absolute;
  top: 110%;
  left: 0;
  font-size: 0.6rem;
  font-weight: 500;
  color: #B94A48;
  opacity: 0;
}
.login .form-content .text {
  font-size: 0.65rem;
  font-weight: 400;
  color: #bbb;
}
.login .form-content .text a {
  font-size: 0.65rem;
  font-weight: 700;
  color: #403f3f;
  text-decoration: none;
  transition: 0.4s;
}
.login .form-content .text a:hover {
  color: #149BB4;
}

.dash {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  overflow-x: hidden;
}
.dash .container {
  display: grid;
  grid-template-columns: 14rem auto 23rem;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
}