.dashbd{
    margin-top: 1.4rem;
    .top-main{
        @include flex(flex,center,space-between,null);
        h1{
            @include font(2.5rem,900,$black);
        }
    }
    .statistiques{
        @include grid(grid,repeat(3, 1fr),null);
        gap: 1.6rem;
        > div{
            @include card($orange);
            i{
                background: $orange;
                padding: .5rem;
                margin-bottom: 1rem;
                border-radius: 50%;
                @include font(1.2rem,null,$white);
            }
            .middle{
                @include flex(flex,center,space-between,null);
                h3{
                    @include font(1rem,7    00,$black);
                }
                h1{
                    @include font(2.5rem,900,$orange); 
                }
            }
        }
    }
    .articles{
        margin-top: 2rem;
        h2{
            @include font(1.6rem,null,$black);
            margin-bottom: .8rem;
        }
        .table-head{
            @include flex(flex,center,space-between,null);
            .addArticles{
                width: 15%;
                border-radius: .8rem;
                padding: .5rem;
                background: $white;
                border: 1px solid $blue-one;
                transition: 0.3s;
                cursor: pointer;
                @include flex(flex,center,center,null);
                gap: 1rem;
                @include font(.8rem,700,$blue-one);
                text-decoration: none;
                i{
                    @include font(.8rem,null,$blue-one); 
                }
                &:hover{
                    background: $blue-one;
                    color: $white;
                    box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.12);
                    border: 1px solid $white;
                    i{
                        color: $white
                    }
                }
            }
        }
        .articleTable{
            @include card($blue-one);
            border-top: 5px solid $blue-one;
            overflow-y: auto;
            @include w-h(100%,350px);
            table{
                width: 100%;
                text-align: center;
                tbody{
                    img{
                        width: 5rem;
                    }
                    td{
                        border-bottom: 2px solid #f6f4f4;
                        height: 2.8rem;
                        padding: 10px 10px 0px 10px;
                        min-width: 50px;
                        @include font(1rem,null,$grey);
                    }
                    tr{
                        &:last-child{
                            td{
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
