.right-dash{
    margin-top: 1.4rem;
    .top{
        @include flex(flex,center,end,null);
        .menu-btn{
            display: none;
        } 
        .theme-toggler{
            @include flex(flex,center,space-between,null);
            @include w-h(3.2rem,1.3rem);
            cursor: pointer;
            border-radius: .3rem;
            background: $white;
            margin-right: 2rem;
            i{
                @include font(.8rem,null,$black);
                @include flex(flex,center,center,null);
                @include w-h(50%,100%);
                &.active{
                    background: $blue-one;
                    color: $white;
                    border-radius: .3rem;
                }
            }
        }
        .profile{
            @include flex(flex,center,center,null);
            gap: 1rem;
            text-align: right;
            .infos{
                @include font(1rem,500,$black);
                p{
                    margin-bottom: 0;
                }
                span{
                    @include font(1rem,900,$blue-one); 
                }
                small{
                    @include font(.8rem,400,$black);
                }
            }
            img{
                width: 3rem;
                border-radius: 50%;
            }
        }
    }
    .catégories{
        margin-top: 1.4rem;
        h2{
            margin-bottom: 1rem;
        }
        .category{
            background: $white;
            padding: .2rem 1.5rem;
            border-radius: .5rem;
            border-bottom: 5px solid $blue-tree;
            margin-top: .3rem;
            box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.12);
            transition: .4s;
            position: relative;
            &:hover{
                box-shadow: none;
                border-bottom-color: $errorText;
                .delete-cat{
                    visibility: visible;
                }
            }
            p{
                margin-bottom: 0;
                @include font(1.2rem,600,$black);
                span{
                    @include font(1.2rem,700,$blue-one);
                }   
            }
            .delete-cat{
                visibility: hidden;
                @include position(absolute,7%,94%);
                color: $errorText;
            }
        }
    }
    
    form{
        .errorCategory{
            margin-top: 1.5rem;
            @include flex(flex,center,center,null);
            @include w-h(100%,null);
            background-color: $errorBackg;
            padding: .8rem 0;
            color: $errorText;
            margin-bottom: .5rem;
        }
        .add-categorie{           
            button{
                width: 100%; 
                margin: 1.5rem 0 2.5rem 0;
                border-radius: .8rem;
                padding: 1rem;
                background: transparent;
                border: 2px dashed $blue-one;
                transition: 0.3s;
                cursor: pointer;
                @include flex(flex,center,center,null);
                gap: 1rem;
                @include font(1rem,700,$blue-one);
                text-decoration: none;
                i{
                    @include font(1rem,null,$blue-one); 
                }
                &:hover{
                    background: $white;
                    box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.12);
                }
            }
        }
        .formContent{
            position: relative;
            @include w-h(null,37px);
            .input-categorie{
                position: absolute;
                @include w-h(100%,100%);
                @include outline;
                border-radius: .5rem;
                background: $white;
                text-indent: 1rem;
                @include font(.9rem,null,$black);
            }
            label{
                @include position(absolute,-55%,5%);
                @include font(.9rem,500,$black);
                pointer-events: none;
            }
        }    
    }
}