aside{
    @include w-h(null,100vh);
    .top{
        @include flex(flex,center,space-between,null);
        margin-top: 1.4rem;
        .logo{
            @include flex(flex,center,null,null);
            img{
                @include w-h(25px,null);
            }
            h3{
                @include font(1.8rem,null,$blue-one);
                padding-top: .08rem;
                span{
                    color: $orange;
                }
            }
        }
        .close{
            display: none;
        }
    }
    .sidebar{
        @include flex(flex,null,null,column);
        @include position(relative,2rem,null);
        @include w-h(null,85vh);
        a{
            @include flex(flex,center,null,null);
            @include w-h(null,3rem);
            position: relative;
            color: $black;
            text-decoration: none;
            margin-left: 2rem;
            gap: 1rem;
            transition: .4s;
            h3{
                @include font(.8rem,500,null)
            }
            i{
                @include font(1rem,null,null);
                transition: .4s;
            }
            &:last-child{
                position: absolute;
                bottom: 1rem;
            }
            &.active{
                background: $blue-four;
                color: $blue-one;
                margin-left: 0;
                &:before{
                    content: '';
                    @include w-h(6px,100%);
                    background: $blue-one;
                }
                i{
                    margin-left: calc(1rem - 3px);
                }
            }
            &:hover{
                color: $blue-one;
                i{
                    margin-left: .8rem;
                }
            }
        }
    }
}