$blue-one: #16467D;
$blue-two: #149BB4;
$blue-tree: #B3E0E1;
$blue-four: #dbf3f3;
$orange: #E38D25;
$white: white;
$black: #403f3f;
$grey: #bbb;
$errorText : #B94A48;
$errorBackg : #f9dcda;
$validText : #24b324;
$backg-dash : #f6f6f6;